.contact {
    color: #412234;
    background-color: #EAD7D7;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    text-align: left;
    font-family: 'Roboto Mono', sans-serif;
  }
  
  .contact-me {
    margin-top: 10%;
    position: relative;
    width: 25%;
    left: 11%;
  }
  
  .form-inputs {
    margin-top: 2%;
    position: relative;
    left: 45%;
    bottom: 37%;
    
  }
  
  .form-field {
    border-radius: 4px;
    width: 47%;
    height: 6vh;
  }
  
  .message-field {
    border-radius: 4px;
    width: 47%;
    height: 30vh;
  }
  
  .submitBtn {
    background-color: #6d466b;
    color: white;
    border-radius: 4px;
    border: 1px solid #6d466b;
    width: 13%;
    height: 7vh;
    align-items: center;
    align-content: center;
  }
  
  .submitBtn:hover {
    background-color: #412234;
    color: white;
  }
  