.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #B49FCC;
  }
  
  .bm-burger-bars-hover {
    background: #412234;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #6D466B;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #B49FCC;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #B49FCC;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    padding: 15%;
    font-family: 'Roboto Mono', sans-serif;
  }
  
  .bm-item:hover {
    color: #6D466B;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  