/* TIC TAC TOE */
.projects-div {
  margin-top: 15%;
}

.example {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
    margin-left: 15%;
    border-radius: 25px;
  }
  .example .fadedbox {
    background-color: #B49FCC;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 400px;
    height: 300px;
    padding: 130px 20px;
  }
  .example:hover .fadedbox {
    opacity: 0.8;
  }
  .example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .example .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .example:hover .title,
  .example:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  /* NUMBER 2 */
  /* TIC TAC TOE */
.example2 {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
    margin-left: 10%;
    border-radius: 25px;
    display: flex;
  }
  .example2 .fadedbox {
    background-color: #B49FCC;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 400px;
    height: 300px;
    padding: 130px 20px;
  }
  .example2:hover .fadedbox {
    opacity: 0.8;
  }
  .example2 .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .example2 .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .example2:hover .title,
  .example2:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  .pro-cont {
      display: flex;
  }