body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #B49FCC;
  font-family: 'Seaweed Script';
}

p {
  color: #000;
}

/* NAVIGATION HAMBURGER STYLING */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #B49FCC;
}

.bm-burger-bars-hover {
  background: #412234;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #6D466B;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #B49FCC;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #B49FCC;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
  padding: 15%;
  font-family: 'Roboto Mono', sans-serif;
}

.bm-item:hover {
  color: #6D466B;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* HEADER STYLING */
.header {
  margin-top: 10%;
  font-family: 'Roboto Mono', sans-serif;
}
h1, .head-h2, .head-h3 {
  text-align: left;
  position: relative;
  left: 20%;
  color: #000;
  font-family: 'Roboto Mono', sans-serif;
}
.head-h2 {
  font-size: 1.5rem;
  font-weight: 100;
}
.head-h3 {
  line-height: 100%;
  font-weight: 100;
  font-size: 1.3rem;
}

/* ARROW */
.arrow {
  border: solid #6D466B;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ABOUT STYLING */
.about {
  margin-top: 7%;
  font-family: 'Roboto Mono', sans-serif;
}

.abt-paras {
  width: 55%;
  position: relative;
  left: 35%;
  /* margin-bottom: -25%; */
  margin-top: -20%;
}

.abt-img {
  width: 25%;
  height: 50vh;
  border-radius: 10%;
  position: relative;
  margin-top: 1%;
  right: 28%;
}

p {
  font-size: 1.2rem;
} 


/* SOCIALS STYLING */
.socials {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: -7%;
}

.socials a {
  width: 10%;
}

.soc {
  color: #b49fcc;
}

.soc:hover {
  color: plum;
}

/* PROJECTS STYLING */
.carousel-div {
  margin-top: 15%;
}

.carousel {
  width: 60%;
  position: relative;
  left: 20%;
  font-family: 'Roboto Mono', sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #B49FCC;
  border-radius: 20px;
}

.carousel-caption p {
  color: #6d466b;
  font-weight: bolder;
  font-size: 1.2rem;
}

.mac {
  width: 100%;
  height: 70vh;
}

.links {
  background-color: #B49FCC;
  color: white;
  border: 1px solid #B49FCC;
  border-radius: 25px;
  font-size: 1rem;
  padding: 2%;
  text-decoration: none;
}

.links:hover {
  color: #B49FCC;
  background-color: #6D466B;
}

/* FORM STYLING */
.contact {
  color: #412234;
  background-color: #EAD7D7;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  text-align: left;
  font-family: 'Roboto Mono', sans-serif;
}

.contact-me {
  margin-top: 10%;
  position: relative;
  width: 25%;
  left: 11%;
}

.form-inputs {
  margin-top: 2%;
  position: relative;
  left: 45%;
  bottom: 37%;
  
}

.form-field {
  border-radius: 4px;
  width: 47%;
  height: 6vh;
}

.message-field {
  border-radius: 4px;
  width: 47%;
  height: 30vh;
}

.submitBtn {
  background-color: #6d466b;
  color: white;
  border-radius: 4px;
  border: 1px solid #6d466b;
  width: 13%;
  height: 7vh;
  align-items: center;
  align-content: center;
}

.submitBtn:hover {
  background-color: #412234;
  color: white;
}


/* .tictactoe {
  width: 30%;
  height: 40vh;
} */

/* */
/* .example {
  cursor: pointer;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center;
  margin-left: 15%;
  border-radius: 25px;
}
.example .fadedbox {
  background-color: #B49FCC;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 400px;
  height: 300px;
  padding: 130px 20px;
}
.example:hover .fadedbox {
  opacity: 0.8;
}
.example .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.example .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.example:hover .title,
.example:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
} */
