body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #B49FCC;
  font-family: 'Seaweed Script';
}

p {
  color: #000;
}


/* PROJECTS STYLING */
/* .projects-div {
  margin-top: 15%;
}

.carousel {
  width: 60%;
  position: relative;
  left: 20%;
  font-family: 'Roboto Mono', sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #B49FCC;
  border-radius: 20px;
}

.carousel-caption p {
  color: #6d466b;
  font-weight: bolder;
  font-size: 1.2rem;
}

.links {
  background-color: #B49FCC;
  color: white;
  border: 1px solid #B49FCC;
  border-radius: 25px;
  font-size: 1rem;
  padding: 2%;
  text-decoration: none;
}

.links:hover {
  color: #B49FCC;
  background-color: #6D466B;
}
 */
